html, body, h1, h2, h3,p{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #95f3f5;
    color: #333;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: inherit ;
}

/*------- header ------- */
.cabecera-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e49ca;
    padding: 15px 30px;
}

.cabecera-principal a img{
    width: 170px;
}

.cabecera-principal nav a{
    color: #ffffff;
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}

.cabecera-principal nav a:hover{
    color: #4abfe2;
}

/*------body-------- */
.contenido-principal{
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    
}
.contenido-principal img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 8px;
}

.contenido-principal p {
    font-size: 1.30rem;
    margin-bottom: 15px;
    color: #040404;
}
.contenido-principal h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #1e49ca;
}
/*-----section------*/
.contenido-principal section{
    background-color: #46ddb7;
    padding: 20px;
    margin-top: 20px;
}
.contenido-principal section h3{
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #1e49ca;
}
.contenido-principal section p{
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #040404;
}

.contenido-principal ul li{
    margin-bottom: 10px;
    color: #040404;
    font-size: 1.2rem;
}
/* ------footer------- */
.pie-principal{
    background-color: #1e49ca;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;

}
.pie-principal p{
    color: #040404;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}
.pie-principal ul{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
.pie-principal ul li{
    margin: 0 10px;
}
.pie-principal ul li a{
    color: #46a1ce;
    font-size: 1.2rem;
}
.pie-principal ul li a:hover{
    color: #4abfe2;
}